* {
  margin: 0;
  padding: 3px;
}

body {
  background-color: rgba(0,0,0,0.87);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  width: 100%;

}

#info {
  margin: 5px 5px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 5px;
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px;
}

#info h3 {
  padding-bottom: 15px;
}

#alert {
  color: yellow;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
