* {
  margin: 0;
  padding: 3px;
}

body {
  background-color: rgba(0,0,0,0.87);
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 90vw;
  padding: 40px 60px;
}

#info {
  margin: 10px 40px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 5px;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px;
}

#info h3 {
  padding-bottom: 15px;
}

#alert {
  color: yellow;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
